@media screen and (max-width:375px) and (max-height:667px) {
    /* Redefino alguns tamanhos para se adequar a tela de celulares */

    header{
        height: 50px;
    }
    
    h1 {
        display: none;
    }
    
    nav {
        justify-content: space-around;
    }

    .item-navegacao {
        margin-right: 10px;
        font-size: 13pt;
    }
    
    section {
        padding: 20px 0px;
    }
    
    img {
        max-width: 150px;
        max-height: 250px;
        margin: 10px;
    }
    
    p {
        font-size: 12pt;
        margin-right: 5px;
    }

    form {
        transform: scale(1.2);
    }
}

@media screen and (max-width:768px) and (max-height:1024px) {
    /* Redefino o tamanho do formulário para se adequar ao tablet */
    form {
        transform: scale(1.2);
    }
}